@charset "utf-8";

/* CSS Document */
/*  Global STYLE  */
* {
	margin: 0;
	padding: 0;
}

html {
	color: #222;
	-webkit-text-size-adjust: none;
	font-size: 14px;
	line-height: 22px;
}

body {
	height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

ul,
li {
	list-style: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input,
optgroup,
option,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: 0;
}

body {
	font-family: '微软雅黑', 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei'
}

img {
	border: none;
	/* display: block; */
}

a {
	text-decoration: none;
	outline: none;
	color: #222;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent
}

a:hover {
	text-decoration: none;
	transition: 0.1s linear;
	-moz-transition: 0.1s linear;
	/* Firefox 4 */
	-webkit-transition: 0.1s linear;
	/* Safari and Chrome */
	-o-transition: 0.1s linear;
	/* Opera */
	cursor: pointer;
	color: #17acee;
}

em,
i {
	font-style: normal
}

button,
input {
	border: none;
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: grey;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: transparent;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
	outline: none;
}

.clearfix:after {
	clear: both;
	display: block;
	content: "";
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.w {
	width: 100%;
}
.pageW75{
	width: 75%;
	margin: 0 auto;
	box-sizing: border-box;
}
.w1200 {
	width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

.w1000 {
	width: 1100px;
	margin: 0 auto;
	box-sizing: border-box;
}
.cover{
	position: absolute;
	width: 100%;
	top:0;
	left: 0;
	right: 0;
	background: #999;
	opacity: 0.7;
	height: auto;
}
.spinner {
	margin: 100px auto;
	width: 40px;
	height: 40px;
	position: relative;
	text-align: center;

	animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: #333;
	border-radius: 100%;

	animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
	top: auto;
	bottom: 0;
	animation-delay: -1.0s;
}

@keyframes sk-rotate {
	100% {
		transform: rotate(360deg);
	}
}


@keyframes sk-bounce {

	0%,
	100% {
		transform: scale(0.0);
	}

	50% {
		transform: scale(1.0);
	}
}

.black-bj {
	background: #000;
	opacity: 0.5;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 888;
}
/* 动画相关 */
.animated.delay-01 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.animated.delay-02 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.animated.delay-03 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.animated.delay-04 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.animated.delay-05 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animated.delay-06 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animated.delay-07 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.animated.delay-08 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.animated.delay-09 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.animated.delay-11 {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.animated.delay-12 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.animated.delay-15 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-25 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

/* 动画相关 */
.closebtn {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	color: #333;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	cursor: pointer;
}

.loadtip {
	display: block;
	width: 100%;
	line-height: 40px;
	height: 40px;
	text-align: center;
	color: #999;
	background: #eee;
}

/* Color */
.red {
	color: #FA322B;
}

.color3 {
	color: #333;
}

.color5 {
	color: #555;
}

.color6 {
	color: #666;
}

.color8 {
	color: #888;
}

.color9 {
	color: #999;
}

.white {
	color: #fff;
}
.banner-mainTitle{
	position: absolute;
	top:15%;
	left:5%;
	width: 50%;
}
.banner-title{
	font-size:64px;
	color:#fff;
	margin-top:20%;
	margin-left:11%;
	line-height: 1.3;
}
.banner-small-title{
	font-size:28px;
	line-height: 1.3;
	color:#fff;
	margin-top:10%;
	margin-left:11%
}
.bgc-white {
	background: #fff;
}

.bgc-black {
	background: #000;
}

.pubcolor {
	color: #0071c5;
}

.pubbj {
	background: #0071c5;
}

.bjgayf5 {
	background: #f5f5f5;
}

.borderT1 {
	border-top: 1px solid #0071c5;
}

.borderB1 {
	border-bottom: 1px solid #EEEEEE;
}

.em2 {
	text-indent: 2em;
}

/* Font */
.fs10 {
	font-size: 10px;
}

.fs12 {
	font-size: 12px;
}

.fs13 {
	font-size: 13px;
}

.fs14 {
	font-size: 14px;
}

.fs16 {
	font-size: 16px;
}

.fs18 {
	font-size: 18px;
}

.fs20 {
	font-size: 20px;
}

.fs24 {
	font-size: 24px;
}

.fs26 {
	font-size: 26px;
}

.fs30 {
	font-size: 30px;
}

.fs36 {
	font-size: 36px;
}

.ftw {
	font-weight: bold;
}

.ftn {
	font-weight: normal;
}

.pr {
	position: relative
}

.pa {
	position: absolute
}

.fiexd {
	position: fixed;
}

/* Direction */
.fl {
	float: left;
}

.fr {
	float: right;
}

.cl {
	clear: both;
}

.oh {
	overflow: hidden;
}

.center {
	text-align: center;
}

.text-r {
	text-align: right;
}

.text-l {
	text-align: left;
}

/* Margin */
.mg0 {
	margin: 0 auto;
}

.mgt5 {
	margin-top: 5px;
}

.mgt10 {
	margin-top: 10px;
}

.mgt20 {
	margin-top: 20px;
}

.mgt30 {
	margin-top: 30px;
}

.mgt40 {
	margin-top: 40px;
}

.mgt50 {
	margin-top: 50px;
}

.mgt100 {
	margin-top: 100px;
}

.mgr5 {
	margin-right: 5px;
}

.mgr10 {
	margin-right: 10px;
}

.mgr15 {
	margin-right: 15px;
}

.mgr20 {
	margin-right: 20px;
}

.mgl5 {
	margin-left: 5px;
}

.mgl10 {
	margin-left: 10px;
}

.mgl15 {
	margin-left: 15px;
}

.mgl20 {
	margin-left: 20px;
}

.mgl30 {
	margin-left: 30px;
}

.mgtb10 {
	margin: 10px 0;
}

.mgtb15 {
	margin: 15px 0;
}

.mgtb20 {
	margin: 20px 0;
}

.mgtb30 {
	margin: 30px 0;
}

.mglr10 {
	margin: 0 10px;
}

.mglr15 {
	margin: 0 15px;
}

.mglr20 {
	margin: 0 20px;
}

.mglr30 {
	margin: 0 30px;
}

.mgb5 {
	margin-bottom: 5px;
}

.mgb10 {
	margin-bottom: 10px;
}

.mgb15 {
	margin-bottom: 15px;
}

.mgb20 {
	margin-bottom: 20px;
}

.mgb30 {
	margin-bottom: 30px;
}

/* Padding */

.pd10 {
	padding: 10px;
}

.pd25 {
	padding: 25px;
}

.pdlr10 {
	padding: 0 10px;
}

.pdlr20 {
	padding: 0 20px;
}

.pdlr40 {
	padding: 0 40px;
}

.pdl8 {
	padding-left: 8px;
}

.pdlr2 {
	padding: 0 2%;
}

.pdt5 {
	padding-top: 5px;
}

.pdt10 {
	padding-top: 10px;
}

.pdt15 {
	padding-top: 15px;
}

.pdt20 {
	padding-top: 20px;
}

.pdt30 {
	padding-top: 30px;
}

.pdt40 {
	padding-top: 40px;
}

.pdt50 {
	padding-top: 50px;
}

.pdb5 {
	padding-bottom: 5px;
}

.pdb10 {
	padding-bottom: 10px;
}

.pdb20 {
	padding-bottom: 20px;
}

.pdb30 {
	padding-bottom: 30px;
}

.pdb40 {
	padding-bottom: 40px;
}

.pdb50 {
	padding-bottom: 50px;
}

.pdb60 {
	padding-bottom: 60px;
}

.pdb100 {
	padding-bottom: 100px;
}

.pdl5 {
	padding-left: 5px;
}

.pdl10 {
	padding-left: 10px;
}

.pdl20 {
	padding-left: 20px;
}

.pdl30 {
	padding-left: 30px;
}

.pdl40 {
	padding-left: 40px;
}

.pdl50 {
	padding-left: 50px;
}

.pdr5 {
	padding-right: 5px;
}

.pdr10 {
	padding-right: 10px;
}

.pdr20 {
	padding-right: 20px;
}

.pdr30 {
	padding-right: 30px;
}

.pdr40 {
	padding-right: 40px;
}

.pdr50 {
	padding-right: 50px;
}

.pdtb10 {
	padding: 10px 0;
}

.pdtb15 {
	padding: 15px 0;
}

.pdtb20 {
	padding: 20px 0;
}

.pdtb30 {
	padding: 30px 0;
}

/* Spacing */
.line22 {
	line-height: 22px;
}

.line26 {
	line-height: 26px;
}

.line30 {
	line-height: 30px;
}

.line33 {
	line-height: 33px;
}

.line36 {
	line-height: 36px;
}

.line40 {
	line-height: 40px;
}

.disp {
	display: none;
}

/* 高度 */
.h40 {
	height: 40px;
}

.h50 {
	height: 50px;
}

.h100 {
	height: 100px;
}


/* 行数显示省略号 */
.avoidOverflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.avoidOverflow2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.avoidOverflow3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.avoidOverflow4 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}


/*公共标题*/
.pubTitle {
	padding-top: 80px;
	padding-bottom: 40px;
}

.pubTitle h1 {
	font-size: 26px;
	line-height: 26px;
	font-weight: bold;
}

.pubTitle p {
	font-size: 16px;
	padding-bottom: 10px;
}

/*公共标题*/

#model{width: 100%;}
#showToast{position: fixed;z-index:999;top:10%;width: 300px;background-color: #fff;color:#666;right:5%;border-radius:5px;overflow:hidden; box-shadow: 0 0 8px rgba(0, 0, 0, 0.23);border:1px solid #eee;}
#showToast .text{width: 100%;text-align: center;line-height: 30px;padding: 10px 10px;box-sizing:border-box;font-size:16px;}


.bannerBack{
	background-image: url("../images/banner-img2.jpg");
	background-repeat: no-repeat;   
	background-size: 100% 100%;
	height: 850px;
}

@media only screen and (max-width: 1600px) {
	.bannerBack {
		height: 708px;
	}

}

@media screen and (max-width: 1440px) {
	.bannerBack {
		height: 638px;
	}
	.pageW75 {
		width: 85%;
	}
	.banner-title{font-size: 52px;}
	.banner-small-title {font-size: 26px;}
}


@media only screen and (max-width: 1366px) {
	.bannerBack {
		height: 605px;
	}

}

@media only screen and (max-width: 1280px) {
	.bannerBack {
		height: 567px;
	}
}






@media screen and (max-width: 1100px) {

	.w1200,
	.w1000,
	.pageW75 {
		width: 100%;
		padding: 0 3%;
	}
	.banner-title{font-size: 34px;}
	.banner-small-title {font-size: 20px;}
	.banner-mainTitle{top: 7%;}
	#showToast{top: 20%;}
	
}

@media only screen and (max-width: 1024px) {
	.bannerBack {
		height: 453px;
	}
}

@media only screen and (max-width: 768px) {
	.bannerBack {
		height: 340px;
	}
}

@media screen and (max-width: 500px) {
	.bannerBack {
		height: 270px;
	}
	#showToast{top: 20%;right: 20%;width: 200px;}
	#showToast .text{font-size: 14px;line-height: 24px;padding: 8px 10px;}
	.pubTitle {
		padding: 30px 3% 20px 3%;
	}

	.pubTitle h1 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 5px;
	}

	.pubTitle p {
		font-size: 14px;
		padding-bottom: 10px;
	}

	.pdb100 {
		padding-bottom: 50px;
	}
	
	.banner-mainTitle{width: 80%;left: 8%;right: 8%;top: 10%;text-align: center;}
	.banner-mainTitle .banner-title{margin-top: 0;margin-left: 0;font-size: 20px;}
	.banner-mainTitle .banner-small-title{margin-top: 10px;margin-left: 0;font-size: 14px;}
	
}
