<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>公众号/小程序</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script crossorigin="anonymous" integrity="sha384-o2SDyo+Uigt6Nv2Pg0gQsEznFjEHsz1DYWbn+PkiOCKzAEz/8Kzo8zLCHx872kMd" src="https://lib.baomitu.com/Swiper/4.5.0/js/swiper.js"></script>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link rel="stylesheet" type="text/css" href="css/mini.css">
		<link rel="stylesheet" type="text/css" href="css/wxParse.css">
		<link href="https://cdn.bootcss.com/animate.css/3.7.2/animate.min.css" rel="stylesheet">
		<link crossorigin="anonymous" integrity="sha384-K6LrEaceM4QP87RzJ7R4CDXcFN4cFW/A5Q7/fEp/92c2WV+woVw9S9zKDO23sNS+" href="https://lib.baomitu.com/Swiper/4.5.0/css/swiper.min.css" rel="stylesheet">
		<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true&ak=M9C0DhYUo81Io76oZlaPQ1xoZcycRqwB"></script>
		<script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?a0365323250827af85f41d3890d1ce53"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>
	</head>

	<body>
		<div id="app">
			<!-- 网站导航 -->
			<div class="">
				<include src="header.html"></include>
			</div>
			
			<!-- banner -->
			<div class="bannerBack" style="background-image: url('images/banner-img9.png')">
				<include src="headBanner.html"></include>
			</div>

			<!-- 企业为什么要开发公众号、小程序 -->
			<div class=" pdb100">
				<div class="pubTitle center">
					<h1 class="mgb20">企业为什么要开发公众号、小程序?</h1>
					<p>10亿免费流量，天生社交裂变工具，你如何拒绝？？？</p>
				</div>
				<div class="clearfix center pageW75 mini-box1" id="whyShow" >
					<div class="item fadeInDown animated" v-show="idObject['whyShow']['offsetTopStandard'] <offsetTopNow"  :class="item.className" v-for="(item,index) in whyData" :key="index">
						<span class="icon"></span>
						<p>{{item.text}}</p>
					</div>
				</div>
			</div>
			
			<!-- 我们的优势 -->
			<div class="OurAdvantage">
				<div class="pageW75">
					<div class="title">
						<h1 class="">我们的优势</h1>
						<p>Our advantage</p>
					</div>
					<div class="cont clearfix">
						<div class="item left">
							<img src="images/public-img.png" >
						</div>
						<div class="item right" id="advantageShow">
							<div class="child  animated bounceInRight" v-show="idObject['advantageShow']['offsetTopStandard'] <offsetTopNow"  v-for="(item,index) in advantageData" :key="index">
								<span class="icon"></span>
								<h1>{{item.title}}</h1>
								<p>{{item.text}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 产品，让客户充分放心 -->
			<div class="">
				<include src="OurCace.html"></include>
			</div>
			
			<!-- 服务 -->
			<div class="">
				<include src="OurServices.html"></include>
			</div>
			
			<!-- 多一分参考，总有益处 -->
			<div class="">
				<include src="WritePhone.html"></include>
			</div>
			
			<include src="footer.html"></include>
			<div>
				<include src="advertise.html"></include>
			</div>
		</div>
	</body>

	<script type="text/javascript">
		
		var app = new Vue({
			el: '#app',
			data: function() {
				return {
					is_toggle: false,
					indshareLis: [],
					mainData:[],
					whyData:[
						{text:'接近app的优质体验',className:'delay-01'},
						{text:'天然的社交工具，疯狂裂变',className:'delay-02'},
						{text:'免费的10亿流量共享',className:'delay-03'},
						{text:'小程序的风口已经掀起，大势所趋',className:'delay-04'}
					],
					advantageData:[
						{title:'100%定制开发',text:'我们拥有专业的开发团队，核心代码框架100%自研，拒绝模板，拒绝转包。'},
						{title:'优秀的产品规划',text:'我们拥有大量的微信产品营销经验，深入了解分销、裂变设计逻辑，针对性地提高产品裂变能力、提升用户体验感，助力您的产品规划。'},
						{title:'一站式服务',text:'从域名申请备案，到公众号的认证、微信支付的开通认证，所有相关的资质和准备工作全部交给我们，绝佳的一站式开发体验。'}
					],
					whyShow:false,
					advantageShow:false,
					idObject:{
						'whyShow':{
							'isShow':false,
							'offsetTopStandard':0
						},
						'advantageShow':{
							'isShow':false,
							'offsetTopStandard':0
						},
						'strengthShow':{
							'isShow':false,
							'offsetTopStandard':0
						},
						'partnerShow':{
							'isShow':false,
							'offsetTopStandard':0
						},
						'swiperBox':{
							'isShow':false,
							'offsetTopStandard':0
						},
						'OurService':{
							'isShow':false,
							'offsetTopStandard':0
						},
					},
					bodyOffsetHeight:0,
					sameTime:0,
					offsetTopNow:0
				}
			},
			created: function() {
				var self = this;
				window.base.needOnload.push(this.initOffsetTop);
				window.onload = function(){
					for(var i=0;i<window.base.needOnload.length;i++){
						window.base.needOnload[i]();
					};
				};
				self.topInterval =  setInterval(function(){
					console.log('document.getElementById',document.getElementById('app').offsetHeight)
					if(self.sameTime==100){
						clearInterval(self.topInterval);
						return;
					};
					if(self.bodyOffsetHeight==document.getElementById('app').offsetHeight){
						self.sameTime++;
						return;
					};
					self.initOffsetTop()
				},500)
				
			},
			
			mounted () {
			   window.addEventListener('scroll', this.handleScroll)
			},
			
			methods: {
				
				initOffsetTop(){
					const self = this;
					this.bodyOffsetHeight =  document.getElementById('app').offsetHeight;
					for(let key  in self.idObject){
						if(document.getElementById(key)){
							var res = window.base.getElementToPageTop(document.getElementById(key));
							self.idObject[key]['offsetTopStandard'] = res;
						};
					};
					window.base.bus.$emit('infoChannal',{
						idObject:self.idObject
					});
					this.handleScroll();
				},
				
				handleScroll(){
					const self = this;
					var scrollTop = document.documentElement.scrollTop;
					var winHeight = window.screen.height;
					var extra = winHeight*0.3;
					if((scrollTop + winHeight - extra)>self.offsetTopNow){
						self.offsetTopNow = scrollTop + winHeight - extra;
						window.base.bus.$emit('infoChannal',{
							offsetTopNow:self.offsetTopNow
						});
					};
					
				
				},

			}
		});
	</script>


</html>
