<div id="OurService">
	<div class="bjgayf5 pdb100  oh">
		<div class="pubTitle center">
			<h1 class="mgb20">我们的服务</h1>
			<p>Our service</p>
		</div>
		<div class="indx-myService clearfix">
			<div class="alertText">可左右滑动</div>
			<div class="pageW75 topBox center clearfix color6" id="serviceShow">
				<div class="item fadeInDown animated" v-for="(item,index) in seviceData" :key="index" :class="stateCurr==index?'on':''" @click="changeStateCurr(index)"  v-show="idObject['serviceShow']['offsetTopStandard'] <offsetTopNow">
					<img class="icon one" :src="item.iconUrl" >
					<img class="icon two" :src="item.iconUrlCurr">
					<p>{{item.title}}</p>
					<div class="S-xian"></div>
					<div class="B-Arrow"><img src="images/to-home-icon14.png" ></div>
				</div>
			</div>
			<div style="width: 100%;height: 1px;background: #d5d5d5;"></div>
			
			<div class="pageW75 infor clearfix animated slideInUp" id="serviceShow" v-show="idObject['serviceShow']['offsetTopStandard'] <offsetTopNow">
				<div v-for="(item,index) in serviceCon" :key="index" v-show="stateCurr==index">
					<div class="left fl animated slideInLeft">
						<div class="titXian"></div>
						<div class="title">{{item.title}}</div>
						<div class="text" v-for="(v,i) in item.text" :key="i">
							<p>{{v}}</p>
						</div>
					</div>
					<div class="right fr clearfix animated slideInRight">
						<img src="images/to-home-icon15.png" >
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<script type="text/javascript">
	var OurService = new Vue({
	    el: '#OurService',
	    data:function(){
	        return {
	        	is_toggle:false,
				topStandard:1,
				offsetTopNow:0,
				stateCurr:0,
				seviceData:[
					{iconUrl:'images/to-home-icon1.png',iconUrlCurr:'images/to-home-icon.png',title:'需求分析'},
					{iconUrl:'images/to-home-icon2.png',iconUrlCurr:'images/to-home-icon3.png',title:'项目策划'},
					{iconUrl:'images/to-home-icon4.png',iconUrlCurr:'images/to-home-icon5.png',title:'UI/UE设计'},
					{iconUrl:'images/to-home-icon6.png',iconUrlCurr:'images/to-home-icon7.png',title:'技术开发'},
					{iconUrl:'images/to-home-icon8.png',iconUrlCurr:'images/to-home-icon9.png',title:'项目测试'},
					{iconUrl:'images/to-home-icon11.png',iconUrlCurr:'images/to-home-icon10.png',title:'产品上线'},
					{iconUrl:'images/to-home-icon12.png',iconUrlCurr:'images/to-home-icon13.png',title:'跟踪服务'}
				],
				serviceCon:[
					{
						"title":'01需求分析',
						'text':[
							'（1）结合客户需求，从技术实现、用户体验等多个方面进行需求分析。',
							'（2）梳理客户各项需求绘制出业务流程图，并给出详尽且极具竞争力的报价方案。',
							'（3）相关文件：《需求文档》《项目报价表》《第三方费用明细表》',
						],
						'img':'images/to-home-icon15.png'
					},
					{
						"title":'02项目策划',
						'text':[
							'（1）依据需求分析确定的项目结构，提供完整且合乎逻辑的功能实现清单。',
							'（2）将功能清单反馈给客户，经双方商讨后制定准确一致的功能确认书。',
							'（3）相关文件：《项目功能确认书》',
						],
						'img':'images/to-home-icon15.png'
					},
					{
						"title":'03UI/UE设计',
						'text':[
							'（1）依据项目策划确定的功能清单与逻辑，结合客户需求及市场审美方向，提供UI高保真设计图。',
							'（2）将设计图反馈给客户，并针对客户的意见不断调整直到客户满意。',
							'（3）相关文件：《界面设计确认单》',
						],
						'img':'images/to-home-icon15.png'
					},
					{
						"title":'04技术开发',
						'text':[
							'（1）与客户明确开发周期并签订具体合约，延期按约赔付。',
							'（2）依据功能确认书及UI高保真设计图，科学分工，进行从前端页面到API架构的搭建。',
							'（3）相关文件：《开发标准及流程说明书》《工期标准说明》',
						],
						'img':'images/to-home-icon15.png'
					},
					{
						"title":'05项目测试',
						'text':[
							'（1）开发过程中，测试人员制定相应的产品测试策略，对常见风险点进行评估与规避。',
							'（2）开发完成后，5+岗位进行完整的5遍测试流程，确保完整实现产品诉求。',
							'（3）相关文件：《测试用例编写》《测试结果说明》',
						],
						'img':'images/to-home-icon15.png'
					},
					{
						"title":'06产品上线',
						'text':[
							'（1）测试无误后与客户进行项目交接，并编写完整的交接注意事项说明书。',
							'（2）根据客户提供的小程序/公众号/APP/网站认证的相关资质，帮助客户通过平台认证。',
							'（3）相关文件：《项目交接文档》',
						],
						'img':'images/to-home-icon15.png'
					},
					{
						"title":'07跟踪服务',
						'text':[
							'（1）交接产品后即为客户免费培训后台操作并附赠操作文档，直至客户能独立操作后台系统。',
							'（2）产品正式运营后，提供7*12小时售后，包括服务器异常维护、用户反馈bug修理等。',
							'（3）相关文件：《后台操作说明文档》',
						],
						'img':'images/to-home-icon15.png'
					}
				],
				serviceShow:false,
				idObject:{
					'serviceShow':{
						'isShow':false,
						'offsetTopStandard':0
					},
				},
				bodyOffsetHeight:0,
				sameTime:0,
				offsetTopNow:0
	        }
	    },
		created:function () {
		     var self = this;
				window.base.bus.$on('infoChannal',function(e){
				
				if(e.idObject){
					self.topStandard = e.idObject['OurService']['offsetTopStandard'];
				}else if(e.offsetTopNow){
					self.offsetTopNow = e.offsetTopNow
				};
			});
			
			
			// var self = this;
			window.base.needOnload.push(this.initOffsetTop);
			window.onload = function(){
				for(var i=0;i<window.base.needOnload.length;i++){
					window.base.needOnload[i]();
				};
			};
			self.topInterval =  setInterval(function(){
				// console.log('document.getElementById',document.getElementById('app').offsetHeight)
				if(self.sameTime==100){
					clearInterval(self.topInterval);
					return;
				};
				if(self.bodyOffsetHeight==document.getElementById('app').offsetHeight){
					self.sameTime++;
					return;
				};
				self.initOffsetTop()
			},500)
		},
		mounted: function () {
		   window.addEventListener('scroll', this.handleScroll)
		},
	    methods: {
			initOffsetTop: function(){
				const self = this;
				this.bodyOffsetHeight =  document.getElementById('app').offsetHeight;
				for(let key  in self.idObject){
					if(document.getElementById(key)){
						var res = window.base.getElementToPageTop(document.getElementById(key));
						self.idObject[key]['offsetTopStandard'] = res;
					};
				};
				window.base.bus.$emit('infoChannal',{
					idObject:self.idObject
				});
				this.handleScroll();
			},
			
			handleScroll: function(){
				const self = this;
				var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
				var winHeight = window.screen.height;
				var extra = winHeight*0.3;
				if((scrollTop + winHeight - extra)>self.offsetTopNow){
					self.offsetTopNow = scrollTop + winHeight - extra;
					window.base.bus.$emit('infoChannal',{
						offsetTopNow:self.offsetTopNow
					});
				};
			},
			changeStateCurr(index){
				var self = this;
				self.stateCurr = index
				self.is_icon = true
				console.log(index)
			}
	    	
	    }
	});   
</script>

<style type="text/css">
	
	/* 我们的服务 */
	/* .indx-myService{height: 420px;box-sizing: border-box;} */
	.topBox{box-sizing: border-box; }
	.topBox .item{width:14.28% ;float: left;height: 145px;}
	.topBox .item .icon{width: 60px;height: 60px;margin: 0 auto; display: block;}
	.topBox .item .two{display: none;}
	/* .topBox .item .icon img{width: 100%;height: 100%;display: block;} */
	.topBox .item p{font-size:20px;margin-top: 15px;}
	.topBox .item .S-xian{width: 2px;height: 16px;background: #d5d5d5;margin: 10px auto; }
	.topBox .item .B-Arrow{width: 12px;height: 6px;margin: 0 auto 6px auto;}
	.topBox .item .B-Arrow img{width: 100%;height: 100%; display: block; display: none;}
	.indx-myService .alertText{display: none;font-size: 12px;line-height: 24px;color: #999;text-align: center; margin-bottom: 10px;}
	.topBox .item.on{color: #17acee;position: relative;}
	.topBox .item.on:after{content: '';width: 100%;height: 1px;background:#17acee;position: absolute;left: 0;right: 0;bottom: -1px;}
	.topBox .item.on .S-xian{background: #17acee;}
	.topBox .item.on .icon.one{display: none;}
	.topBox .item.on .icon.two{display: block;}
	.topBox .item.on .B-Arrow img{display: block;}
	
	.indx-myService .infor{min-height: 293px;padding: 40px 4.5% 0 4.5%;}
	.titXian{width: 35px;height: 4px;background: #17acee; }
	.indx-myService .left{width: 60%;}
	.indx-myService .left .title{font-size: 20px; font-weight: bold;padding: 30px 0 40px 0;}
	.indx-myService .left .text p{margin-bottom: 20px; font-size: 15px;}
	.indx-myService .right{width: 35%;}
	.indx-myService .right img{width:300px; height: 253px; display: block;float: right;}
	
	@media only screen and (max-width: 1600px){
		
	}
	@media only screen and (max-width: 1450px){
		.topBox .item{height: 135px;}
		.topBox .item .icon{width: 50px;height: 50px;}
		.topBox .item p{font-size: 18px;}
	}
	@media only screen and (max-width: 1366px){
		.topBox .item{height: 130px;}
		.topBox .item .icon{width: 45px;height: 45px;}
		.topBox .item p{font-size: 16px;}
	}
	@media only screen and (max-width: 1050px){
		
	}
	@media only screen and (max-width: 768px){
		.topBox .item{height: 120px;}
		.topBox .item .icon{width: 35px;height: 35px;}
		.topBox .item p{font-size: 15px;}
		.indx-myService .left .title {font-size: 18px;padding: 20px 0 30px 0;}
		.indx-myService .left .text p {margin-bottom: 15px;font-size: 13px;}
		.indx-myService .infor{height: 253px;padding: 40px 3% 0 3%;}
		.indx-myService .right img{width: 100%;height: auto;}
	}
	@media only screen and (max-width: 500px){
		.indx-myService .topBox{overflow-x: auto;white-space: nowrap;}
		.topBox .item{width: 100px;height: 100px;display: inline-block; float: initial;}
		.topBox .item .icon{width: 30px;height: 30px;}
		.topBox .item p{font-size: 14px;margin-top: 10px;}
		.topBox .item .S-xian{margin: 5px auto;}
		
		.indx-myService .alertText{display: block;}
		
		.indx-myService .infor{padding-top: 30px;height: auto;}
		.indx-myService .left{width: 100%;}
		.indx-myService .left .text p{margin-bottom: 10px;}
		.indx-myService .right{width: 100%;padding-top: 30px;}
		.indx-myService .right img{width: 220px;height: auto;margin: 0 auto;float: initial;}
	}
</style>



